body {
    font-family: arial;
    background-image: url("https://www.imagemhost.com.br/images/2020/05/12/Background-Texture-Images4-1024x768.jpg");
    background-size: auto 100vh;
    text-align: center;
    color: teal;
    height: 100vh;
  }
  
  a {
    color: teal;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  .menu{
    background-color: black;
  }
  
  .menu ul{
    display: flex;
    justify-content: space-around
  }
  .menu li {
    list-style: none;
    }
  .site-subtitle,
  .site-title {
    collor: teal;
    text-align: center;
  }
  
  .site-subtitle {
    font-style: italic;
  }
  
  